.button.red {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: red;
  color: white;
  margin-bottom: 1rem;
}
.button.ukr {
  width: 400px;
  height: 50px;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: red;
  color: white;
  margin-bottom: 1rem;
}
.button.black {
  width: 500px;
  height: 50px;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
}
.button.green {
  width: 500px;
  height: 50px;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: darkseagreen;
  color: white;
  margin-bottom: 1rem;
}
.button.skyblue {
  width: 400px;
  height: 50px;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: skyblue;
  color: black;
  margin-bottom: 1rem;
}
.button.darkslategray {
  width: 500px;
  height: 50px;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: darkslategray;
  color: white;
  margin-bottom: 1rem;
}
.button.darkslategray2 {
  width: 500px;
  height: 50px;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: darkslategray;
  color: darkslategray;
  margin-bottom: 1rem;
}
