.main-container {
  width: 400px;
  height: 75px;
  margin-top: 0;
  text-align: left;
}
.main-container2 {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

span {
  color: red;
}

.russia-putin {
  margin-bottom: 2rem;
  border-radius: 5px;
}

.putin {
  display: flex;
}

.kisida {
  width: 180px;
  height: 30px;
  color: black;
  background-color: skyblue;
  border-radius: 5px;
  font-size: 24px;
  margin-bottom: 0.5rem;
}
