.friend-button-container {
  margin-top: 1rem;
  text-align: center;
}

.message {
  margin: 0 auto;
  width: 500px;
  height: 100%;
}

.message-container {
  text-align: left;
  margin-bottom: 2rem;
}

span {
  color: red;
}
